@keyframes fade-in-top{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
} 

.word{
    background-color: rgba(0, 0, 0, 0.281);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &-navbar{
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
        &__text{
            text-decoration: none;
            color: rgb(177, 172, 172);
            padding-right: 3rem;
            font-size: 1.2rem;
            font-family: 'Inter';
            font-weight: 600;
            &:hover{
                color: rgb(172, 238, 232);
            }
        }
    }
}
.content{
    color: white;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    font-family: 'Inter';

    &__title-en{
        font-size: 2.75rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    &__description{
        line-height: 2rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    &__title-ch{
        font-size: 3rem;
        
    }
    &__img{
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    &__pronounce{
        font-size: 1.5rem;
        font-weight: 400;
    }
    &__left{
        animation: fade-in-top 1s;
    }
    &__right{
        width: 35%;
        margin: 10% 0;
        animation: fade-in-top 2s;
    }
    &__audio{
        margin-top: 1rem;
    }
}
.cta-words{
    display: flex;
    justify-content: space-around;
    margin: 0 2rem 0 2rem;
    z-index: 2;
    animation: fade-in-top 2s;
    

    &__item{
        width: 5rem;
    }
    &__img{
        width: 3rem;
        height: 3rem;
    }
}