.slang{
    // background-color: #000;
    // width: 100%;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-content{
        display: flex;
        justify-content: space-around;
        &__img{
            height: 30rem;

        }
        &__right{
            margin-top: 10%;
            width: 40%;
            
            &-title{
                margin-bottom: 2rem;
            }
            &-description{
                font-size: 1rem;
                line-height: 1.5rem;
                margin-bottom: 2rem;
            }
        }
    }
}