.word{
    background-color: #000;
    width: 100%;
    height: 100vh;
}
.content{
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-around;

    &__title-en{
        font-size: 3rem;
        margin: 1rem 0;
    }
    &__description{
        line-height: 2rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    &__title-ch{
        font-size: 3rem;
    }
    &__img{
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    &__pronounce{
        font-size: 1.5rem;
    }
    &__right{
        width: 35%;
        margin: 10% 0;
    }
}