@font-face {
    font-family: TensentypeXingKaiF;
    src: url(../assets/fonts/TensentypeXingKaiF.woff2) format(woff2),
    url(../assets/fonts/TensentypeXingKaiF.woff) format(woff);
    font-weight: 300;
}
